<div id="coming-soon">
	<div class="title">Under the Hood</div>
	<div class="sub-title">Anonymous Mail Sender</div>
	<div class="sub-title2">For Users and Organizations </div>
	<div class="input">Drop your <input type="email" placeholder="email"/> to get notified on test and launch days.</div>
</div>
<div class="countdown"></div>