<section id="home">
	<div class="row">
		<div id="coming-soon" style="width: 100%; margin: 99px auto; text-align: center;">
			<div class="title">Under the Hood</div>
			<div class="sub-title">Anonymous Mail Sender</div>
			<div class="sub-title2">For Users and Organizations </div>
			<div class="input">Drop your <input type="email" placeholder="email"> to get notified on test and launch days.</div>
		</div>
	</div>
</section>
<section id="how">
	<div class="row">
	<h1>How</h1>
	</div>
</section>
<section id="login">
<div>
	<h1>Login</h1>
	<%= render 'user/login'%>
</div>
<div>
	<h1>Register</h1>
	<%= render 'user/registration'%>
</div>
</section>