<section id="home">
	<div class="row">
		<div id="coming-soon" style="width: 100%; margin: 99px auto; text-align: center;">
			<i class="icon-emo-sunglasses"></i>
			<div class="title">Under the Hood</div>
			<div class="sub-title">Anonymous Mail Sender</div>
			<div class="sub-title2">For Users and Organizations </div>
			<div class="input">Drop your <input type="email" placeholder="email"> to get notified on test and launch days.</div>
		</div>
	</div>
</section>
<section id="how">
	<div class="row">
		<h1>Going under the hood</h1>
		<div class="row">
			<div class="large-4 columns">
				<i class="icon-login"></i>
				<div class="heading">Login</div> 
				<p>
					Create and Login into your
					Hood.
				</p>
			</div>
			<div class="large-4 columns">
				<i class="icon-pencil"></i>
				<div class="heading">Create Hidden Message</div>
				<p>
					Create Message and specify 
					receipient mail.
				</p>
			</div>
			<div class="large-4 columns">
				<i class="icon-paper-plane"></i>
				<div class="heading">Send Message</div>
				<p>
					Send your mail and we cover 
					you another the hood no harm
					to be done. lol
				</p>
			</div>
		</div>
	</section>
</section>
<section id="login">
	<div class="row">
		<div class="large-9 columns large-centered">
			<div class="row">
				<div class="large-6 columns">
					<div class="login">
						<h1>Login</h1>
						<%= render 'user/login'%>
					</div>
				</div>
				<div class="large-6 columns">
					<div class="register">
						<h1>Register</h1>
						<%= render 'user/registration'%>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="about">
	<div class="row">
		<div class="large-9 columns large-centered">
			<h1>What's this about?</h1>
			<p>
				You still don't know what you could use under-the-hood for.
				Let's help you get to know two use cases.
				<ul>
					<li>
						Just say you have an opinion to give to someone who has an issue with relating with people, once you get under the hood you could drop a message and wait for a reply without your identity being exposed.
					</li>
					<li>
						Or let's say you have a group of people who you would be interested in getting response from them but they fear they would be victimized. Send them a request to send you a mail which they can send under the hood without being victimized.
					</li>
				</ul>
			</p>
		</div>
	</div>
</section>

<footer>
	<div class="row">
		<div class="large-9 columns large-centered">
			&copy; 2014 underthehood.io
		</div>
	</div>
</footer>