@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/top-bar";
@import url(http://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans:300italic,400italic,800italic,400,300,700,800,600);

$font1: "Open Sans", sans-serif;
$font2: "Calligraffitti", cursive;
$ripe-lemon: #F7CA18;
$saffron: #F4D03F;
$primary-color: $ripe-lemon;
$primary-color-shade: $saffron;

h1, h2, h3, h4, h5, h6{
    font-family: $font1;
}
a {
    text-decoration: none;
}

body,html{

}
body {
    font-weight: 100;
    font-family: $font1;
    height: 100%;
}

#coming-soon {
    width: 40%;
    margin: 175px auto;
    text-align: center;

    .input{
        width: 300px;
        margin: auto;
    }
}

.title {
    font-size: 60px;
}

.sub-title {
    font-size: 20px;
    letter-spacing: 0.5em;
}

.sub-title2 {
    font-size: 13px;
    color: #888;
    letter-spacing: 0.3em;
    margin-top: 30px;
}

.input {
    margin: 10px 0px;
    input[type="email"] {
        border: 0px;
        text-align: center;
        border-bottom: dotted 1px;
        font-size: 17px;
        &:focus, &:active {
            border: 0px;
            padding: 7px;
        }
    }
}

.field_with_errors {
    color: #A20;
    content: " ";
}

section{
    &#home{
        height: 93%;
        padding-top: 12px;
        background-color: $primary-color;
    }
    &#how{
        padding: 12px;
    }
}