/*@import "udh";*/
/*
*= require udh
*/
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/top-bar";

@import url(http://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans:300italic,400italic,800italic,400,300,700,800,600);

$font1: "Open Sans", sans-serif;
$font2: "Calligraffitti", cursive;
$ripe-lemon: #F7CA18;
$saffron: #F4D03F;
$primary-color: $ripe-lemon;
$primary-color-shade: $saffron;

h1, h2, h3, h4, h5, h6{
    font-family: $font1;
}

a {
    text-decoration: none;
}

body,html{

}
body {
    font-weight: 100;
    font-family: $font1;
    height: 100%;
}

#coming-soon {
    width: 40%;
    margin: 175px auto;
    text-align: center;

    .input{
        width: 300px;
        margin: auto;
    }
}

.title {
    font-size: 60px;
}

.sub-title {
    font-size: 20px;
    letter-spacing: 0.5em;
}

.sub-title2 {
    font-size: 13px;
    color: #888;
    letter-spacing: 0.3em;
    margin-top: 30px;
}

.input {
    margin: 10px 0px;
    input[type="email"] {
        border: 0px;
        text-align: center;
        border-bottom: dotted 1px;
        font-size: 17px;
        &:focus, &:active {
            border: 0px;
            padding: 7px;
        }
    }
}

.field_with_errors {
    color: #A20;
    content: " ";
}

section{
    &#home{
        height: 93%;
        padding-top: 12px;
        background-color: $primary-color-shade;
        background-image: url(http://www.transparenttextures.com/patterns/dark-exa.png);
        i {
            font-size: 191px;
            position: absolute;
            color: #FFF;
            text-shadow: 0px 0px 12px #000;
            left: 19%;
            transform: rotate(-24deg);
        }
    }
    &#how{
        padding: 50px;
        box-shadow: 0px 0px 7px #222;
        text-align: center;

        .heading{
            text-align: center;
            font-size: 23px;
            font-weight: bold;
            letter-spacing: 0.16em;
            text-shadow: 0px 0px 1px #000;
            color: #492;
            line-height: 1em;
            min-height: 50px;
        }

        i{
            font-size: 60px;
            text-align: center;
            display: block;
            color: #888;
        }

        p{
            text-align: center;
        }
    }

    &#login{
        background-color: #000;
        color: #FFF;
        padding: 40px 0px;

        h1{
            font-size: 25px;
        }
    }

    &#about{
        padding: 19px;
        color: #888;
        h1{
            color: #000;
        }
        ul{
            padding: 0px;
            li{
                padding: 0px;
                list-style-type: none;
                margin-bottom: 20px;
                color: #000;
                border-bottom: 1px dashed;
                padding-bottom: 20px;

                &:last-child{
                    border-bottom: 0px;
                }
            }
        }
    }

}

footer{
    background-color: #000;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    padding: 37px 0px;
    border-bottom: 10px solid $primary-color;

    i{
        font-size: 20px;
    }
}