<!DOCTYPE html>
<html>
<head>
  <title>UnderTheHood</title>
  <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
How 
Pricing
Sign Up
Sign In
Contact
Help
</nav>
<%= yield %>

</body>
</html>
